@model TrashCollector.Models.Customer

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>
<br />
<br />


<div class="row">
    <div class="col-md-4">
        <h6>Current Weekly Pickup Day:</h6>
        <p>@Model.PickupDay</p>
        <br />
        <h6>Change Weekly Pickup Day</h6>
        <div class="form-group">
            <label>New Pickup Day</label>
            <select asp-for="@Model.PickupDay" class="form-control" asp-items="@Model.DaysOfWeek"></select>
            <span asp-validation-for="@Model.PickupDay" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <br />
        <h6>One-Time Pickup</h6>
        <p>Allow date selection</p>
        <p>Submit button</p>
        <br />
        <h6>Temporary Stop Service</h6>
        <p>Start Date field, End Date field</p>
        <p>Submit button</p>
        <h6>Total Amount Owed for Last Period</h6>
        <p>$99.99</p>
    </div>
</div>


